header {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        132deg,
        rgba(0, 27, 183, 0.25) 0%,
        rgba(217, 217, 217, 0.25) 100%
      );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0
    min-height: 100vn;
    margin: 0;
}

.cardscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardscontainer > * {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cardscontainer figure  {
    text-align: center;
}

figure{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.dicecontainer {
    flex-direction: column;
    display: flex;
  align-items: center;
  justify-content: center;
       margin-top: 20px;
    padding-top: 20px;
}

.dicecontainer figure  {
    text-align: center;
}

figure {
    margin-top: 10px;
    padding: 10px;
}

.challengeboxquestion {
    z-index: 1;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #62109F;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}